body {
  font-family: 'Libre Baskerville', serif;
  color:#f0534d;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  transform: scale(0.5);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*border: 2px solid #f0534d;*/
}

.centered {
  width: 800px;
  height: 500px;
  text-align: left;
  line-height: 30px;
  position: relative;
}

.centered p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  width: 50%;
}

.title {
  border-bottom: 2px solid #f0534d;
  padding: 10px;
  text-align: center;
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-gap: 20px; /* gap between grid items */
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.vp{
  background-image: url("assets/virtual_panel.png");
  background-repeat: no-repeat;
  background-position: 55% 73%;
  background-size: 50%;
}

.rounded-text {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  transform: translate(5%, -970%);
}

