/*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*/
body {
  font-family: 'Libre Baskerville', serif;
  color:#f0534d;
  cursor: url('assets/mouse.png'), crosshair;
}

body:hover{
  cursor: url('assets/mouse1.png'), crosshair;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  transform: scale(0.35);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  /*border: 2px solid #f0534d;*/
}

.centered {
  width: 800px;
  height: 500px;
  text-align: left;
  line-height: 30px;
  position: relative;
}

.centered p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
  width: 50%;
}


/*GRID*//*GRID*//*GRID*//*GRID*//*GRID*//*GRID*//*GRID*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-template-rows: repeat(2, auto); /* 2 rows with automatic height */
  grid-gap: 0px; /* gap between grid items */
}

.grid-item {
  padding: 10px;
  grid-row: auto; /* set the row placement */
  grid-column: auto; /* set the column placement */
}

.grid-item img {
  width: 70%;
  height: 70%;
}

.centeredvp{
  width: 505px;
  height: 500px;
  text-align: left;
  line-height: 25px;
  border: 3px solid #f0534d;
  padding: 20px;
  margin-top: -125px;
}

.panelButton{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  color: black;
  margin: 0 auto;
  z-index: 100;
  width: 60%;
}


/*CAROSEL*//*CAROSEL*//*CAROSEL*//*CAROSEL*//*CAROSEL*/
.title {
  border-bottom: 2px solid #f0534d;
  padding: 10px;
  text-align: center;
  flex: 1;
}

.image-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.image-container img {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150%;
  padding: 10px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 140%);
}
.buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  background-color: #f0534d;
  color: white;
  cursor: pointer;
}


/*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*/
nav {
  padding: 10px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 2px solid #f0534d;
  justify-content: center;
  height: 70px;
  flex-direction: column;
  background-color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  color: #f0534d;
  margin-top: 70px;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  white-space: nowrap;
  color: #f0534d;
  font-size: 14px;
  margin: 0 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: -45px;
  margin-bottom: 10px;
}

.logo img {
  max-height: 150px;
  margin-right: 10px;
}


/*ZINES*//*ZINES*//*ZINES*//*ZINES*//*ZINES*//*ZINES*//*ZINES*//*ZINES*//*ZINES*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  cursor: grab;
}

.box {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: #f0534d;
  margin: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: grab;
}

.hidden-div {
  display: none;
  width: 100%;
  padding: 20px;
}


/*PANEL*//*PANEL*//*PANEL*//*PANEL*//*PANEL*//*PANEL*//*PANEL*//*PANEL*//*PANEL*//*PANEL*/
.times {
  border-right: 2px solid #f0534d;
  padding: 10px;
  text-align: left;
  width: 100px;
  height: 480px;
  flex: 1;
  margin-left: 5px;
}

.container2 {
  display: flex;
  align-items: center;
  border: 2px solid black;
  width: 60%;
  margin: 0 auto;
}

.image-box {
  flex: 0 0 20%;
  padding: 10px;
  padding-left: 30px;
  border-right: 2px solid black;
}

.content-box {
  flex: 0 0 80%;
  padding: 10px;
}

.content-box p {
  width: 90%;
}

.image-box img {
  max-width: 100%;
}


/*ABOUT*//*ABOUT*//*ABOUT*//*ABOUT*//*ABOUT*//*ABOUT*//*ABOUT*/



.wrapper_about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  /*border: 2px solid #f0534d;*/
}

.centered_about {
  width: 800px;
  height: 500px;
  text-align: left;
  line-height: 30px;
  position: relative;
  top: 200px;
}

.title_about {
  border-bottom: 2px solid #f0534d;
  padding: 25px;
  text-align: left;
  flex: 1;
  font-size: 50px;
}

.parent {
  display: flex;
  height: 100%;
}

.child1 {
  border-right: 2px solid #f0534d;
  width: 50%;
}

.child2 {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url("assets/about_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 400px;
}




/*LIBRARY*//*LIBRARY*//*LIBRARY*//*LIBRARY*//*LIBRARY*//*LIBRARY*/

.wrapper_lib {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  min-height: auto;
}

.centered_lib {
  width: 800px;
  height: 500px;
  text-align: left;
  line-height: 30px;
  position: relative;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 12px;
}

.lt{
  color: #f0534d;
}



/*POPUP*//*POPUP*//*POPUP*//*POPUP*//*POPUP*//*POPUP*//*POPUP*/

#popup {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 350px;
  height: 330px;
  background-color: #fff;
  border: 2px solid #000;
  z-index: 999;
  padding: 5px;
}

.hidden {
  display: none;
}

#close-popup{
  background-color: white; /* Set background color */
  border-radius: 5px; /* Add rounded corners */
  border: 1px solid #f0534d;
  color: #f0534d;
}




